<h1>One minion less but mayhem still abounds.</h1>
<%= image_tag "minion_home.jpg" %>

<div class="footer">
  <div class="nav"><span>Home</span><span>Products</span><span>About</span><span>Contact</span></div>
</div>